@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
    $src: null;

    $extmods: (
        eot: "?",
        svg: "#" + str-replace($name, " ", "_")
    );

    $formats: (
        otf: "opentype",
        ttf: "truetype"
    );

    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote("/fonts/" + $path + "." + $extmod)) format(quote($format)), comma);

        @font-face {
            font-family: quote($name);
            font-style: $style;
            font-weight: $weight;
            src: $src;
        }
    }
}

@include font-face(VG5000, 'VG5000-Regular_web', normal, null, ttf);
@include font-face(Lato, 'Lato-Regular', normal, null, ttf);
@include font-face(Lato, 'Lato-Bold', bold, null, ttf);
@include font-face(Lato, 'Lato-Italic', normal, italic, ttf);
@include font-face(Lato, 'Lato-BoldItalic', bold, italic, ttf);
@include font-face(Andalemono, 'Andale-mono', normal, null, ttf);
@include font-face(Terminal-grotesque, 'terminal-grotesque', normal, null, ttf);