@import 'fonts.scss';

$jaune: #FCBE00;
$bleu: #243887;
$largeur: 1000px;
$petite-largeur: 600px;

@import 'memo.scss';

body {
  margin: 0;
  padding: 0;
  font-family: Lato;
}

.accueil {
  max-width: $largeur;
  padding: 0 3rem;
  margin: 0 auto;
}

.auteurs {
  max-width: $petite-largeur;
  margin: 0 auto;
  text-align: justify;

  h2 {
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    width: fit-content;
    padding: 0.2rem 0.3rem;
  }

  a {
    color: $bleu
  }

  .auteur-0 h2 {
    background-color: $bleu;
  }

  .auteur-1 h2 {
    background-color: $jaune;
  }
}

.passe-ton-permis {
  .conteneur-titre {
    max-width: $petite-largeur;
    padding-top: 2rem;
    width: 100%;
  }

  .conteneur-intro {
    max-width: $petite-largeur;
    margin: 5rem 0;

    .symbole {
      &.internet {
        justify-content: flex-start;
        margin-left: 1rem;
      }
      &.smartphone {
        justify-content: flex-end;
        margin-right: 3rem;
      }
      svg {
        width: 3rem;
        height: 3rem;
      
        path {
          fill: $bleu;
        }
      }
    }
  }

  .conteneur-envoie {
    max-width: $petite-largeur;
    padding: 1rem 0 4rem;
    div {
      padding: 2rem 0;
    }

    .actions {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      margin: 0 3rem;
      padding-bottom: 0rem;

      a {
        background-color: $bleu;
        padding: 1rem 1.5rem;
        border-radius: 2rem;
        text-decoration: none;
      }
    }
  }
  h2 {
    font-weight: normal;
    text-align: center;
    padding: 1rem 0;
  }
  p {
    padding: 0 4rem;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 3rem;
}

.bg-bleu {
  background-color: $bleu;
  color: white;

  &.symbole svg path {
    fill: white;
  }

  a {
    color: white;
  }
}

.bg-jaune {
  background-color: $jaune;
  color: $bleu;

  &.symbole svg path {
    fill: $bleu;
  }
}

.bg-blanc {
  background-color: white;
  color: $bleu;

  &.symbole svg path {
    fill: $bleu;
  }
}

nav {
  max-width: $largeur;
  margin: 0 auto;
  ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 1rem;
    margin: 0;

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    li {
      display: inline;
    }
  }
}

.couverture {
  h1 {
    font-family: Terminal-grotesque;
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
    margin: 2rem 0 0 0;
  }
  .sous-titre {
    font-family: VG5000;
    font-size: 1.5rem;
    color: $jaune;
    margin: 0 0 2rem 0;
  }
  .image.logo {
    img {
      width: 10rem;
    }
  }
}

.symbole {
  display: flex;
  justify-content: center;
  font-family: Andalemono;
}

.questions {
  ol {
    counter-reset: compteurQuestion;
    padding:0;
    li {
      list-style-type: none;
    }
  }

  @media (min-width: 1000px) {
    .carte {
      display: flex;
      max-width: 1000px;
      .illustration {
        width: 450px;
        flex-shrink: 0;

        .image {
          border-radius: 1rem 0 0 1rem;
        }
      }
      .qcu {
        .titre {
          border-radius: 0 1rem 0 0;
        }
      }
    }
  }

  @media (max-width: 1000px) {
    .carte {
      max-width: 600px;
      .illustration {
        .image {
          border-radius: 1rem 1rem 0 0;
        }
      }
    }
  }
  
  .carte {
    border: 1rem solid white;
    border-radius: 1rem;
    margin-top: 1rem;

    .illustration {
      .image {
        display: flex;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
    }

    .asterisque {
      font-size: 0.85rem;
      font-style: italic;
      margin: 0 2rem 0.75rem 4rem;
    }

    .qcu {
      display: flex;
      flex-direction: column;

      .titre {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: VG5000;
        font-size: 3rem;
        background-color: $jaune;
        padding-right: 1rem;

        .numero:before {
          counter-increment: compteurQuestion;
          content: counter(compteurQuestion)".";
          margin-right: .3em;
          margin-left: 1rem;
        }
        h2 {
          font-size: 1.25rem;
          font-weight: normal;
        }
      }

      .reponses {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style: none;
        padding: 2rem 3.5rem 1rem 1.5rem;

        .choix {
          display: flex;
          gap: 1rem;
          align-items: center;
          cursor: pointer;

          input[type=radio] {
            appearance: none;
            position: absolute;

            &:checked + .symbole {
              svg path {
                fill: $jaune;
              }
            }
          }

          .symbole {
            width: 1.5rem;
          }

          .texte {
            font-size: 1rem;
            line-height: 1.5;
          }
        }
      }
    }
  }
}

.resultats {
  .titre {
    width: 100%;
    max-width: $petite-largeur;
    padding: 0 3rem;

    h2 {
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 0;
    }
    .mes-resultats {
      display: flex;
      justify-content: center;
      margin: 0.5rem 0 1.5rem 0;
      ul {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        margin: 0;
        padding: 0;
        li {
          display: flex;
          align-items: center;
          list-style-type: none;
          .nombre-reponse {
            margin-right: 0.5rem;
          }
          .symbole {
            display: inline;
            svg {
              width: 1rem;
            }
          }
        }
      }
    }
  }

  .resultat {
    max-width: $petite-largeur;
    width: 100%;
    padding: 1.5rem 3rem;

    .entete {
      display: flex;
      align-items: center;

      .symboles {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        width: 4rem;
        justify-content: end;
        .symbole {
          width: 2rem;
        }
      }

      .texte {
        margin-left: 1rem;

        .categorie {
          text-transform: uppercase;
          font-weight: bold;
        }
        h3 {
          font-size: 1rem;
          margin: 0;
        }
      }
    }
    .description {
      margin-top: 1rem;
      font-size: 0.85rem;
      text-align: justify;

      p {
        margin: 0;
      }
    }
  }
}