@import 'fonts.scss';

$jaune: #FCBE00;
$bleu: #243887;
$largeur: 1000px;
$petite-largeur: 600px;


body {
  margin: 0;
  padding: 0;
  font-family: Lato;
}

a {
  color: $bleu
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 3rem;
}

.bg-bleu {
  background-color: $bleu;
  color: white;

  &.symbole svg path {
    fill: white;
  }

  a {
    color: white;
  }
}

.bg-jaune {
  background-color: $jaune;
  color: $bleu;

  &.symbole svg path {
    fill: $bleu;
  }
}

.bg-blanc {
  background-color: white;
  color: $bleu;

  &.symbole svg path {
    fill: $bleu;
  }
}

nav {
  max-width: $largeur;
  margin: 0 auto;
  ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 1rem;
    margin: 0;

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    li {
      display: inline;
    }
  }
}

.couverture {
  h1 {
    font-family: Terminal-grotesque;
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
    margin: 2rem 0 0 0;
  }
  .sous-titre {
    font-family: VG5000;
    font-size: 1.5rem;
    color: $jaune;
    margin: 0 0 2rem 0;
  }
  .image.logo {
    img {
      width: 10rem;
    }
  }
}

@import 'memo.scss';
@import 'accueil.scss';
@import 'cartes.scss';
@import 'comment_reagir.scss';
@import 'apropos.scss';