@import 'fonts.scss';
$jaune: #FCBE00;
$bleu: #243887;

body {
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 3rem;
  font-family: Lato;
}

.bg-blanc {
  background-color: white;
  color: $bleu
}
.bg-jaune {
  background-color: $jaune;
  color: $bleu
}
.bg-bleu {
  background-color: $bleu;
  color: white;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 3px 5px;
  background: #111;

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  li {
    display: inline;
  }
}

.couverture {
  h1 {
    font-family: Terminal-grotesque;
    text-transform: uppercase;
    color: white;
  }
  p {
    font-family: VG5000;
    color: $jaune;
  }
}

.symbole {
  display: flex;
  justify-content: center;
  font-family: Andalemono;
}

.questions {
  ol {
    counter-reset: compteurQuestion;
    padding:0;
    li {
      list-style-type: none;
    }
  }

  .carte {
    max-width: 600px;
    border: 1rem solid white;
    border-radius: 1rem;
    color: $bleu;
    background-color: white;
    margin-top: 1rem;

    .question {
      .image {
        display: flex;
        border-radius: 1rem 1rem 0 0;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
      .titre {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: VG5000;
        font-size: 3rem;
        background-color: $jaune;
        padding-right: 1rem;

        .numero:before {
          counter-increment: compteurQuestion;
          content: counter(compteurQuestion)".";
          margin-right: .3em;
          margin-left: 1rem;
        }
        h2 {
          font-size: 1rem;
          font-weight: normal;
        }
      }
    }

    .reponses {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      list-style: none;
      padding: 2rem 3.5rem 1rem 1.5rem;

      .choix {
        display: flex;
        align-items: center;
        cursor: pointer;

        input[type=radio] {
          appearance: none;
          position: absolute;

          &:checked + .symbole {
            color: $jaune;
          }
        }

        .symbole {
          width: 3rem;
          flex-shrink: 0;
          font-size: 1.5rem;

          &.◆, &.● {
            font-size: 2rem;
          }
        }

        .reponse {
          font-size: 0.85rem;
        }
      }
    }
  }
}

.resultats {
  .titre {
    width: 100%;
    max-width: 600px;
    padding: 0 3rem;

    h2 {
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 0;
    }
    .mes-resultats {
      display: flex;
      justify-content: center;
      margin: 0.5rem 0 1.5rem 0;
      ul {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        margin: 0;
        padding: 0;
        li {
          display: flex;
          align-items: center;
          list-style-type: none;
          .nombre-reponse {
            margin-right: 0.25rem;
          }
          .symbole {
            display: inline;
            font-size: 1rem;
            line-height: 1;

            &.◆, &.● {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }

  .resultat {
    max-width: 600px;
    padding: 1.5rem 3rem;

    .entete {
      display: flex;
      align-items: center;
      .symboles {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        flex-shrink: 0;
        width: 4rem;
        justify-content: end;

        .symbole {
          font-size: 2.5rem;

          &.◆, &.● {
            font-size: 3rem;
          }
        }
      }
      .texte {
        margin-left: 1rem;
        .categorie {
          text-transform: uppercase;
          font-weight: bold;
        }
        h3 {
          font-size: 1rem;
          margin: 0;
        }
      }
    }
    .description {
      margin-top: 1rem;
      font-size: 0.85rem;
      text-align: justify;

      p {
        margin: 0;
      }
    }
  }
}