{{ define "main" }}
  <section class="couverture bg-bleu">
    <h1>Permis de cyberprudence</h1>
    <p>Pour être plus en sécurité sur Internet</p>
  </section>
  <section class="questions bg-bleu">
    <ol>
    {{ range .Pages }}
      <li>
        {{ partial "carte" . }} 
      </li>
    {{ end }}
    </ol>
  </section>
  <section class="resultats">
    <div class="titre bg-bleu">
      <h2>{{ .Params.TitreResultat }}</h2>
      <div class="mes-resultats">
        <ul>
        {{ range .Params.Symboles }}
          <li>
            <span id="nombre_{{ . }}" class="nombre-reponse"></span>
            {{ partial "symbole" (dict "symbole" .) }} 
          </li>
        {{ end }}
        </ul>
      </div>
    </div>
    {{ range .Params.Resultats }}
      {{ partial "resultat" . }}
    {{ end }}
  </section>
  <script>
    function calcule_reponse() {
      for(const symbole of ['triangle', 'carre', 'losange', 'rond']) {
        const count = document.querySelectorAll("input[type=radio]:checked + ." + symbole).length;
        document.getElementById("nombre_" + symbole).textContent = count;
      }
    }
    window.addEventListener("load", function(){
      document.querySelectorAll("input[type=radio]").forEach((element) => {
        element.addEventListener("change", calcule_reponse);
      })
    });
    calcule_reponse();
  </script>
{{ end }}