{{ define "main" }}
  <section class="couverture">
    <h1>Permis de cyberprudence</h1>
    <p>Pour être plus en sécurité sur Internet</p>
  </section>
  <ol>
  {{ range .Pages }}
    <li>
      <section class="carte">
        <div class="question">
          <div class="image">
            {{ with resources.GetMatch .Params.Image }}
              <img src="{{ .RelPermalink }}">
            {{ end }}
          </div>
          <div class="titre">
              <div class="numero"></div>
              <h2>{{ .Params.Question }}</h2>
          </div>
        </div>
        <ul class="reponses">
          {{ $symboles := .Params.Symboles }}
          {{ $page := .Params.Id }}
          {{ range $i, $reponse := .Params.reponses }}
          <li>
            {{ $value := printf "carte_%s_reponse_%s" $page $i}}
            <label class="choix">
              <input type="radio" id="{{ $value }}" name="carte{{ $page }}" value="{{ $value }}" />
              <div class="symbol {{ index $symboles $i }}"><span>{{ index $symboles $i }}</span></div>
              <div class="reponse">{{ $reponse | markdownify }}</div>
            </label>
          </li>
          {{ end }}
        </ul>
      </section>
    </li>
  {{ end }}
  </ol>
  <h2>Resultat</h2>
  <p>Triangles : <span id="nombre_▲"></span></p>
  <p>Carrés : <span id="nombre_■"></span></p>
  <p>Losanges : <span id="nombre_◆"></span></p>
  <p>ronds : <span id="nombre_●"></span></p>
  <script>
    window.addEventListener("load", function(){
      document.querySelectorAll("input[type=radio]").forEach((element) => {
        element.addEventListener("change", () => {
          for(const symbole of ["▲", "■", "◆", "●"]) {
            const count = document.querySelectorAll("input[type=radio]:checked + ." + symbole).length;
            document.getElementById("nombre_" + symbole).textContent = count;
          }
        });
      })
     });
  </script>
{{ end }}