{{ define "main" }}
  <h1>Permis de cyberprudence</h1>
  <p>Pour être plus en sécurité sur Internet</p>
  <ul>
  {{ range .Pages }}
    <section class="question">
      <div class="numero"></div>
      {{ with resources.GetMatch .Params.Image }}
      <img class="image" src="{{ .RelPermalink }}">
      {{ end }}
      <h2 class="titre">{{ .Params.Question }}</h2>
      <ul class="reponses">
        {{ $symboles := .Params.Symboles}}
        {{ range $i, $reponse := .Params.reponses }}
          <li>
            <img src="{{ index $symboles $i }}.jpg" alt="{{ index $symboles $i }}">
            <p>{{ $reponse }}</p>
          </li>
        {{ end }}
      </ul>
    </section>
  {{ end }}
  </ul>
{{ end }}