<div class="carte bg-blanc">
    <div class="illustration">
        <div class="image">
            {{ with resources.GetMatch .Params.Image }}
            <img src="{{ .RelPermalink }}">
            {{ end }}
        </div>
    </div>
    <div class="qcu">
        <div class="titre">
            <div class="numero"></div>
            <h2>{{ .Params.Question | markdownify }}</h2>
        </div>
        <ul class="reponses">
            {{ $symboles := .Params.Symboles }}
            {{ $page := .Params.Id }}
            {{ range $i, $reponse := .Params.reponses }}
            <li>
                {{ $value := printf "carte_%s_reponse_%s" $page $i}}
                {{ $symbole := index $symboles $i }}
                <label class="choix">
                    <input type="radio" id="{{ $value }}" name="carte{{ $page }}" value="{{ $value }}" />
                    {{ partial "symbole" (dict "symbole" $symbole "bg" "bg-blanc") }}
                    <div class="text">{{ $reponse | markdownify }}</div>
                </label>
            </li>
            {{ end }}
        </ul>
        {{ if .Params.Asterisque }}
        <div class="asterisque"><sup>*</sup>{{ .Params.Asterisque }}</div>
        {{ end }}
    </div>
</div>