{{ $bg := printf "bg-%s" .couleur }}
<div class="resultat {{ $bg }}">
    <div class="entete">
        <div class="symboles">
            {{ range .symboles }}
                {{ partial "symbole" (dict "symbole" . "bg" $bg) }}
            {{ end }}
        </div>
        <div class="texte">
            <h3 class="categorie">{{ .categorie}}</h3>
            <div class="titre">{{ .titre }}</div>
        </div>
    </div>
    <div class="description">
    {{ .description | markdownify }}
    </div>
</div>